@use "reset";
@use "variables/global";
@use "themes/dark";
@use "themes/light";

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
  background-color: var(--background-color);
}

.App,
.App_Modal {
  box-sizing: content-box;
  background-color: var(--background-color);
  height: 100vh;
  width: 100%;
  display: flex;
  color: var(--font-color);
}
