:root {
  --font-family: "Microsoft Sans Serif", sans-serif;
  --font-size: 1em;
  --font-size-secondary: 0.85em;
  --font-size-main: 1.5em;

  --font-color: #000000;
  --font-color-secondary: #8f8f8f;
  --font-color-primary: #ffffff;

  --background-color: #ffffff;
  --background-color-primary: #2563eb;

  --background-color-hover: #1d4ed8;
  --background-color-active: #1e40af;
  --background-color-disabled: #93c5fd;

  --border-color: #d9d9d9;
  --outline-color: #898989;
}