.Wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8vh;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--background-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 0 30px;
  margin-top: 15px;
  align-items: center;
}

.mainText {
  justify-self: start;
  cursor: pointer;
  font-size: 2em;
  &:active {
    font-size: 2.2em;
    color: var(--border-color);
    transition: 0.2s;
  }
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

}

.link {
  color: var(--font-color);
  align-content: center;
  height: 3em;
  font-size: 1.1em;
  font-weight: bold;

  border-right: 1px solid var(--link-border-color);
  padding: 0 5em;
  &:first-of-type {
    border-left: 1px solid var(--link-border-color)
  }
  &:hover {
    background-color: var(--border-color);
    transition: 0.3s;
  }
  &:active {
    background-color: var(--outline-color);
  }
}

.login {
  justify-self: end;
  display: flex;
  align-items: center;
}

.btn {
  font-size: 1.5em;
  color: var(--font-color);
  &:hover {
    transition: 0.2s;
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1.05);
  }
}
